body {
    background: linear-gradient(to bottom, #F5F5DC, #E0D7C6);
    font-family: 'Poppins', sans-serif, arial;
    font-weight: 200;
    font-size: 20px;
    color: #2C3E50;
}

h1 {
    font-family: 'Poppins', sans-serif, arial;
    color: #1C2833;
}

textarea {
    resize: none;
    padding: 10px;
}

form {
    display: grid;
    width: 400px;
}