body {
    background-image: url("assets/gradient.png");
    font-family: sans-serif, arial;
    font-weight: 200;
    font-size: 20px;
    color: #ffffff;
}

textarea {
    resize: none;
    padding: 10px;
}

form {
    display: grid;
    width: 400px;
}